/* =============================
Proyecto: ToolKitPRO - by nicoaviguey💖
Autor: Nicole Avendaño
Fecha: Julio 2025
Descripción: Conjunto de herramientas básicas desarrolladas con HTML, CSS y JavaScript.
============================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fondo);
  color: var(--texto);
  font-family: 'Arial Unicode MS', 'Segoe UI Symbol', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
