header {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a{
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--violeta);
}

.logo a:hover{
  color: var(--violeta-intenso);
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--violeta);
}

main h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

main h1 span {
  color: var(--violeta);
}

main p {
  color: var(--azul-gris);
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: var(--sidebar-fondo);
  padding-top: 4rem;
  transition: right 0.3s ease;
  z-index: 999;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 1.5rem 0;
}

.sidebar ul li a {
  color: var(--texto);
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: var(--violeta);
}

.sidebar.active {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--violeta);
  cursor: pointer;
}

.sidebar details {
  color: var(--texto);
  font-size: 1.2rem;
}

.sidebar details summary {
  cursor: pointer;
  list-style: none;
  font-weight: bold;
  padding: 0.5rem 0;
}

.sub-menu {
  list-style: none;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.sub-menu li {
  margin: 0.5rem 0;
}

.sub-menu li a {
  font-size: 1rem;
  color: var(--azul-gris);
}

.sub-menu li a:hover {
  color: var(--violeta);
}
.sidebar ul,
.sidebar details,
.sidebar summary,
.sidebar ul li,
.sidebar ul li a,
.sub-menu li a {
  text-align: center;
}
.sidebar details summary:hover {
  color: var(--violeta);
  transition: color 0.3s ease;
}

/* Footer */
footer {
  margin-top: auto;
  padding: 2rem 1rem;
  background-color: var(--sidebar-fondo);
  color: var(--azul-gris);
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

:root.light-theme footer {
  background-color: var(--sidebar-fondo);
  color: var(--azul-gris);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.footer-links {
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer-links li a {
  color: var(--texto);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: var(--violeta);
}